In [35]:
x=7
y= "data"

print(x)
print(y)


my_variable = 10
print(my_variable)

my_variable += 5
print(my_variable)

7
data
10
15

working with strings

In [36]:
"Im into Data Science"

question= "What are you studying?"

Answer= "Analytics"

print(question)
print(Answer)

print(question + " "+ Answer)
##this is another way to print strings together
print(f"{question} {Answer}")

What are you studying?
Analytics
What are you studying? Analytics
What are you studying? Analytics

In [37]:
##new line character within a string
print(question + "\n"+ Answer)

type(Answer)
##shows what type of variable or the class
##gives us str

What are you studying?
Analytics

str

In [38]:
len(Answer)
##gives us length of Answer

9

In [39]:
print(Answer)
Answer[0]
#tells us what the first letter (character) of Answer
Answer[2] ## tells the the third character
##Answer[9] ## there is no tenth character

Answer[-1] #gives the last character

Analytics

's'

In [40]:
course = "CTBA"

len(course)#length of string
print(course[0:2])

CT

In [41]:
answer_cap =Answer.upper()
##capitalizes answer vector
##using upper method
print(answer_cap)

ANALYTICS

In [42]:
answer_lower = Answer.lower()
##makes it lower case
print(answer_lower)

analytics

In [43]:
Answer.find("t")
#finds the index of the first occurence of the letter "t"

5

In [44]:
name = "Andrew Piercy"
print("Hello, my name is " +name+ ". Nice to meet you!")

##rewrite this using f-strings
print(f"Hello, my name is {name}. Nice to meet you!")

Hello, my name is Andrew Piercy. Nice to meet you!
Hello, my name is Andrew Piercy. Nice to meet you!

In [45]:
##tuple example
t1 = (1,2,3,4,5)
#t1[0] = 11 ## this will give an error because tuples are immutable

In [50]:
##dictionary
d1 = {"name": "Andrew Piercy", "age": 22, "city": "Williamsburg"}

print(d1["name"])
d1["age"] = 23 ##updates age to 23

d1["email"] = "ampiercy@wm.edu" #adds new key-value pair to dictionary

print(d1)

Andrew Piercy
{'name': 'Andrew Piercy', 'age': 23, 'city': 'Williamsburg', 'email': 'ampiercy@wm.edu'}

In [51]:
#print a better format using .items method
for key, value in d1.items():
    print(key, ":", value)

name : Andrew Piercy
age : 23
city : Williamsburg
email : ampiercy@wm.edu

In [55]:
people= {
    "person1" : {"name": "Andrew Piercy", "age": 23, "city":"Williamsburg"},
    "person2" : {"name": "Smith", "age":30,"city": "Newport News"}
}
print(people)

{'person1': {'name': 'Andrew Piercy', 'age': 23, 'city': 'Williamsburg'}, 'person2': {'name': 'Smith', 'age': 30, 'city': 'Newport News'}}

In [57]:
distances = {
    
    "A": {"B": 10, "C": 15},
    "B": {"A": 10, "C": 20},
    "C": {"A": 15, "B": 20}
}
print(distances)

{'A': {'B': 10, 'C': 15}, 'B': {'A': 10, 'C': 20}, 'C': {'A': 15, 'B': 20}}

In [ ]:
##create a dictionary with student GPAs
Student_gpa= {
    "person1" : {"Name": "Alice", "GPA":3.6},
    "person2" : {"Name": "Bob","GPA": 3.8},
    "person3" : {"Name": "Charlie", "GPA": 3.2}
}
Student_gpa

Student_gpa["Major"]="PSYCH"

##needed to add major and stuff but was too slow

{'person1': {'Name': 'Alice', 'GPA': 3.6},
 'person2': {'Name': 'Bob', 'GPA': 3.8},
 'person3': {'Name': 'Charlie', 'GPA': 3.2},
 'Major': 'PSYCH'}

In [63]:
##if else statement
x = 4
if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

x is even

In [64]:
##write a check to see if x is dvisible by 3 x = 4
if x % 3== 0:
    print("x is even")
else:
    print("x is odd")

x is odd

In [65]:
##else if statement elif
x = 0
if x >0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Zero

In [ ]:
##for loop
for i in range (5):
    print("i is: ", i)

i is:  0
i is:  1
i is:  2
i is:  3
i is:  4

In [67]:
##while loop
x = 0
while x <5:
    if x % 2 ==0:
        print(x, "is even")
    else:
        print(x, "is odd")
    x +=1

0 is even
1 is odd
2 is even
3 is odd
4 is even

In [68]:
import numpy as np